/operations/target
/data-model/target
/server/target
/server/Cargo.lock
/server/log
**/*.rs.bk
**/*.flx
/operations/Cargo.lock
/data-model/Cargo.lock
/ui/electron/app
/ui/electron/node_modules
/ui/electron/native/target
/ui/electron/native/index.node
/ui/electron/native/artifacts.json
/ui/electron/dist
/ui/browser/data-model-wasm/dist
/ui/browser/data-model-wasm/node_modules
/ui/data-model-wasm/target
/ui/data-model-wasm/pkg
/ui/browser/dist
/ui/browser/pkg
/ui/browser/node_modules
