/operations/target
/data-model/target
/server/target
/server/Cargo.lock
/server/log
**/*.rs.bk
/operations/Cargo.lock
/data-model/Cargo.lock
/ui/app
/ui/node_modules
/ui/native/target
/ui/native/index.node
/ui/native/artifacts.json
/ui/dist
/browser/data-model-wasm/dist
/browser/data-model-wasm/node_modules
/browser/data-model-wasm/target
/browser/data-model-wasm/pkg
/browser/dist
/browser/pkg
/browser/node_modules
